@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
.h-center { text-align: center; }
.v-center { padding-top: 50px;padding-bottom: 50px; }
.heading { font-size: 40px;font-family: 'Baloo Paaji', cursive; }