@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
/* thanks alexflipnote (again) */
input[type="text"] {
  border: none;
  outline: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: #4cbf99;
  border-bottom: 2px solid rgba(255, 255, 255, .7);
  width: 10em;
  font-family: 'Roboto Mono', monospace;
}

input[type="text"], input[type="text"]:focus, input[type="text"]:focus::-webkit-input-placeholder {
  transition: all 500ms ease;
}

input[type="text"]:focus {
  background: transparent;
  width: 80%;
  border-radius: 0;
}

input[type="text"]:focus, input[type="text"]:focus::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 1px 1px 10px black;
}